@font-face {
  font-family: "VAGRounded Bold";
  font-weight: bold;
  font-style: normal;
  src: url("./vagrounded/VAGRounded-Black.otf");
}

@font-face {
  font-family: "VAGRounded";
  font-weight: bold;
  font-style: normal;
  src: url("./vagrounded/VAGRoundedStd-Thin.otf");
}
